In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

In [57]:
# Data Cleaning

data = data.loc[ data['BORO'].isin( ['Manhattan', 'Brooklyn', 'Bronx', 'Queens', 'Staten Island'] ) ]

In [311]:
unique_resteraunts = data[['DBA', 'BORO', 'CUISINE DESCRIPTION', 
                           'BUILDING', 'STREET', 'ZIPCODE', 'PHONE']].drop_duplicates()

In [312]:
count_by_boro = pd.DataFrame(unique_resteraunts['BORO'].value_counts()).reset_index()
count_by_boro.columns = ['BORO', 'COUNT']
count_by_boro.to_json('rest_count_by_boro.json', orient='records')

In [321]:
cuisine_counts_by_boro = unique_resteraunts[['BORO', 'CUISINE DESCRIPTION']]

In [309]:
count_by_boro = pd.DataFrame(unique_resteraunts['BORO'].value_counts()).reset_index()

In [326]:
#cuisine_counts_by_boro['COUNT'] = 1
for row in cuisine_counts_by_boro.groupby('BORO'):
    print(row[0])
    print(row[1]['CUISINE DESCRIPTION'])

Bronx
20              Hamburgers
34                 Spanish
70                 Italian
74                 Mexican
75        Eastern European
                ...
387635               Other
392360               Other
394626               Other
398035       Pizza/Italian
398093               Other
Name: CUISINE DESCRIPTION, Length: 2403, dtype: object
Brooklyn
5                American
14               American
15                 Donuts
18                Chicken
22               American
               ...
392362              Other
396814              Other
397599              Other
399147    Café/Coffee/Tea
399721            Italian
Name: CUISINE DESCRIPTION, Length: 6834, dtype: object
Manhattan
1         Café/Coffee/Tea
6                 Chinese
8                American
9                American
10               American
               ...
399469              Other
399573              Other
399731              Other
400321            Italian
400731              Other
Name: CUISINE DESCRIPTION, Length: 10881, dtype: object
Queens
0                  Bakery
2                    Thai
4                Filipino
7         Café/Coffee/Tea
11                Italian
               ...
396632            Chinese
397853              Other
398036              Other
399450              Pizza
400756              Other
Name: CUISINE DESCRIPTION, Length: 6133, dtype: object
Staten Island
3                American
13               American
47               American
62        Bagels/Pretzels
86                Chinese
               ...
381476              Other
384622              Other
387956              Other
388717    Café/Coffee/Tea
398998              Other
Name: CUISINE DESCRIPTION, Length: 1002, dtype: object

In [ ]:
count_

In [304]:
cuisine_counts_by_boro = pd.DataFrame(cuisine_counts_by_boro.groupby('BORO')['CUISINE DESCRIPTION']
                                      .apply(lambda x: x.value_counts()
                                             .head(10))
                                     )

In [308]:
cuisine_counts_by_boro.reset_index()

,BORO,level_1,CUISINE DESCRIPTION
0,Bronx,American,403
1,Bronx,Chinese,288
2,Bronx,Pizza,202
3,Bronx,"Latin (Cuban, Dominican, Puerto Rican, South &...",179
4,Bronx,Spanish,130
5,Bronx,Mexican,130
6,Bronx,Caribbean,117
7,Bronx,Chicken,115
8,Bronx,Other,113
9,Bronx,Bakery,76
10,Brooklyn,American,1254
11,Brooklyn,Chinese,723
12,Brooklyn,Café/Coffee/Tea,463
13,Brooklyn,Other,409
14,Brooklyn,Caribbean,328
15,Brooklyn,Pizza,315
16,Brooklyn,Mexican,303
17,Brooklyn,Bakery,198
18,Brooklyn,Japanese,190
19,Brooklyn,Jewish/Kosher,189
20,Manhattan,American,2962
21,Manhattan,Café/Coffee/Tea,1006
22,Manhattan,Other,629
23,Manhattan,Italian,579
24,Manhattan,Chinese,517
25,Manhattan,Japanese,495
26,Manhattan,Pizza,361
27,Manhattan,Mexican,334
28,Manhattan,Bakery,249
29,Manhattan,French,244
30,Queens,American,1010
31,Queens,Chinese,776
32,Queens,Other,316
33,Queens,"Latin (Cuban, Dominican, Puerto Rican, South &...",314
34,Queens,Café/Coffee/Tea,290
35,Queens,Pizza,268
36,Queens,Bakery,228
37,Queens,Spanish,215
38,Queens,Caribbean,209
39,Queens,Mexican,196
40,Staten Island,American,220
41,Staten Island,Chinese,81
42,Staten Island,Other,75
43,Staten Island,Italian,70
44,Staten Island,Pizza,56
45,Staten Island,Pizza/Italian,55
46,Staten Island,Mexican,41
47,Staten Island,Donuts,35
48,Staten Island,Japanese,33
49,Staten Island,"Ice Cream, Gelato, Yogurt, Ices",31

In [298]:
cuisine_counts_by_boro = pd.DataFrame(cuisine_counts_by_boro.groupby('BORO')['CUISINE DESCRIPTION']
                                      .apply(lambda x: x.value_counts()
                                             .head(10))
                                     ).reset_index()

cuisine_counts_by_boro.columns = ['BORO', 'CUISINE DESCRIPTION', 'COUNT']

In [294]:
cuisine_counts_by_boro.groupby(Boro)

             BORO                                CUISINE DESCRIPTION  COUNT
0           Bronx                                           American    403
1           Bronx                                            Chinese    288
2           Bronx                                              Pizza    202
3           Bronx  Latin (Cuban, Dominican, Puerto Rican, South &...    179
4           Bronx                                            Spanish    130
5           Bronx                                            Mexican    130
6           Bronx                                          Caribbean    117
7           Bronx                                            Chicken    115
8           Bronx                                              Other    113
9           Bronx                                             Bakery     76
10       Brooklyn                                           American   1254
11       Brooklyn                                            Chinese    723
12       Brooklyn                                    Café/Coffee/Tea    463
13       Brooklyn                                              Other    409
14       Brooklyn                                          Caribbean    328
15       Brooklyn                                              Pizza    315
16       Brooklyn                                            Mexican    303
17       Brooklyn                                             Bakery    198
18       Brooklyn                                           Japanese    190
19       Brooklyn                                      Jewish/Kosher    189
20      Manhattan                                           American   2962
21      Manhattan                                    Café/Coffee/Tea   1006
22      Manhattan                                              Other    629
23      Manhattan                                            Italian    579
24      Manhattan                                            Chinese    517
25      Manhattan                                           Japanese    495
26      Manhattan                                              Pizza    361
27      Manhattan                                            Mexican    334
28      Manhattan                                             Bakery    249
29      Manhattan                                             French    244
30         Queens                                           American   1010
31         Queens                                            Chinese    776
32         Queens                                              Other    316
33         Queens  Latin (Cuban, Dominican, Puerto Rican, South &...    314
34         Queens                                    Café/Coffee/Tea    290
35         Queens                                              Pizza    268
36         Queens                                             Bakery    228
37         Queens                                            Spanish    215
38         Queens                                          Caribbean    209
39         Queens                                            Mexican    196
40  Staten Island                                           American    220
41  Staten Island                                            Chinese     81
42  Staten Island                                              Other     75
43  Staten Island                                            Italian     70
44  Staten Island                                              Pizza     56
45  Staten Island                                      Pizza/Italian     55
46  Staten Island                                            Mexican     41
47  Staten Island                                             Donuts     35
48  Staten Island                                           Japanese     33
49  Staten Island                    Ice Cream, Gelato, Yogurt, Ices     31

In [285]:
def to_dict(columns):
    return dict(zip(columns))

In [287]:
cuisine_counts_by_boro

             BORO                                CUISINE DESCRIPTION  COUNT
0           Bronx                                          Caribbean      1
1           Bronx  Latin (Cuban, Dominican, Puerto Rican, South &...      1
2           Bronx                                            Mexican      1
3           Bronx                                            Chicken      1
4           Bronx                                            Spanish      1
5           Bronx                                             Bakery      1
6           Bronx                                           American      1
7           Bronx                                            Chinese      1
8           Bronx                                              Pizza      1
9           Bronx                                              Other      1
10       Brooklyn                                          Caribbean      1
11       Brooklyn                                            Mexican      1
12       Brooklyn                                      Jewish/Kosher      1
13       Brooklyn                                             Bakery      1
14       Brooklyn                                           American      1
15       Brooklyn                                           Japanese      1
16       Brooklyn                                            Chinese      1
17       Brooklyn                                    Café/Coffee/Tea      1
18       Brooklyn                                              Pizza      1
19       Brooklyn                                              Other      1
20      Manhattan                                              Other      1
21      Manhattan                                            Mexican      1
22      Manhattan                                            Italian      1
23      Manhattan                                             French      1
24      Manhattan                                             Bakery      1
25      Manhattan                                           American      1
26      Manhattan                                           Japanese      1
27      Manhattan                                            Chinese      1
28      Manhattan                                    Café/Coffee/Tea      1
29      Manhattan                                              Pizza      1
30         Queens                                              Other      1
31         Queens  Latin (Cuban, Dominican, Puerto Rican, South &...      1
32         Queens                                            Mexican      1
33         Queens                                          Caribbean      1
34         Queens                                            Spanish      1
35         Queens                                             Bakery      1
36         Queens                                           American      1
37         Queens                                            Chinese      1
38         Queens                                    Café/Coffee/Tea      1
39         Queens                                              Pizza      1
40  Staten Island                                              Other      1
41  Staten Island                                            Mexican      1
42  Staten Island                                            Italian      1
43  Staten Island                                      Pizza/Italian      1
44  Staten Island                                           American      1
45  Staten Island                                             Donuts      1
46  Staten Island                                            Chinese      1
47  Staten Island                    Ice Cream, Gelato, Yogurt, Ices      1
48  Staten Island                                              Pizza      1
49  Staten Island                                           Japanese      1

In [254]:
cuisine_counts_by_boro.to_json('cuisine_counts_by_boro.json', orient='records')

In [256]:
cuisine_counts_by_boro.groupby('BORO').apply()

In [290]:
cuisine_counts_by_boro = cuisine_counts_by_boro.groupby(['BORO', 'CUISINE DESCRIPTION']).sum()
# cuisine_counts_by_boro.to_json('cuisine_counts_by_boro.json', orient='columns')

In [289]:
cuisine_counts_by_boro

                                                                  COUNT
BORO          CUISINE DESCRIPTION
Bronx         American                                                1
              Bakery                                                  1
              Caribbean                                               1
              Chicken                                                 1
              Chinese                                                 1
              Latin (Cuban, Dominican, Puerto Rican, South & ...      1
              Mexican                                                 1
              Other                                                   1
              Pizza                                                   1
              Spanish                                                 1
Brooklyn      American                                                1
              Bakery                                                  1
              Café/Coffee/Tea                                         1
              Caribbean                                               1
              Chinese                                                 1
              Japanese                                                1
              Jewish/Kosher                                           1
              Mexican                                                 1
              Other                                                   1
              Pizza                                                   1
Manhattan     American                                                1
              Bakery                                                  1
              Café/Coffee/Tea                                         1
              Chinese                                                 1
              French                                                  1
              Italian                                                 1
              Japanese                                                1
              Mexican                                                 1
              Other                                                   1
              Pizza                                                   1
Queens        American                                                1
              Bakery                                                  1
              Café/Coffee/Tea                                         1
              Caribbean                                               1
              Chinese                                                 1
              Latin (Cuban, Dominican, Puerto Rican, South & ...      1
              Mexican                                                 1
              Other                                                   1
              Pizza                                                   1
              Spanish                                                 1
Staten Island American                                                1
              Chinese                                                 1
              Donuts                                                  1
              Ice Cream, Gelato, Yogurt, Ices                         1
              Italian                                                 1
              Japanese                                                1
              Mexican                                                 1
              Other                                                   1
              Pizza                                                   1
              Pizza/Italian                                           1

In [124]:
cuisine_counts_by_boro.pivot_table(index=['BORO'], columns='CUISINE DESCRIPTION', aggfunc='size', fill_value=0)

CUISINE DESCRIPTION,Afghan,African,American,Armenian,Asian,Australian,Bagels/Pretzels,Bakery,Bangladeshi,Barbecue,...,Soups & Sandwiches,Southwestern,Spanish,Steak,Tapas,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese/Cambodian/Malaysia
BORO,,,,,,,,,,,,,,,,,,,,,
Bronx,0,1,1,1,1,0,1,1,1,1,...,1,0,1,1,0,1,1,0,1,1
Brooklyn,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
Manhattan,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Queens,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Staten Island,0,1,1,0,1,0,1,1,0,1,...,1,0,1,1,1,1,1,1,0,1

In [268]:
cuisine_counts_by_boro.greset_index(name='BORO')

,BORO,CUISINE DESCRIPTION,COUNT,todelete
0,Bronx,American,403,0
1,Bronx,Chinese,288,0
2,Bronx,Pizza,202,0
3,Bronx,"Latin (Cuban, Dominican, Puerto Rican, South &...",179,0
4,Bronx,Spanish,130,0
5,Bronx,Mexican,130,0
6,Bronx,Caribbean,117,0
7,Bronx,Chicken,115,0
8,Bronx,Other,113,0
9,Bronx,Bakery,76,0
10,Brooklyn,American,1254,0
11,Brooklyn,Chinese,723,0
12,Brooklyn,Café/Coffee/Tea,463,0
13,Brooklyn,Other,409,0
14,Brooklyn,Caribbean,328,0
15,Brooklyn,Pizza,315,0
16,Brooklyn,Mexican,303,0
17,Brooklyn,Bakery,198,0
18,Brooklyn,Japanese,190,0
19,Brooklyn,Jewish/Kosher,189,0
20,Manhattan,American,2962,0
21,Manhattan,Café/Coffee/Tea,1006,0
22,Manhattan,Other,629,0
23,Manhattan,Italian,579,0
24,Manhattan,Chinese,517,0
25,Manhattan,Japanese,495,0
26,Manhattan,Pizza,361,0
27,Manhattan,Mexican,334,0
28,Manhattan,Bakery,249,0
29,Manhattan,French,244,0
30,Queens,American,1010,0
31,Queens,Chinese,776,0
32,Queens,Other,316,0
33,Queens,"Latin (Cuban, Dominican, Puerto Rican, South &...",314,0
34,Queens,Café/Coffee/Tea,290,0
35,Queens,Pizza,268,0
36,Queens,Bakery,228,0
37,Queens,Spanish,215,0
38,Queens,Caribbean,209,0
39,Queens,Mexican,196,0
40,Staten Island,American,220,0
41,Staten Island,Chinese,81,0
42,Staten Island,Other,75,0
43,Staten Island,Italian,70,0
44,Staten Island,Pizza,56,0
45,Staten Island,Pizza/Italian,55,0
46,Staten Island,Mexican,41,0
47,Staten Island,Donuts,35,0
48,Staten Island,Japanese,33,0
49,Staten Island,"Ice Cream, Gelato, Yogurt, Ices",31,0

In [82]:
def recur_dictify(frame):
    if len(frame.columns) == 1:
        if frame.values.size == 1: return frame.values[0][0]
        return frame.values.squeeze()
    grouped = frame.groupby(frame.columns[0])
    d = {k: recur_dictify(g.ix[:,1:]) for k,g in grouped}
    return d

In [105]:
cuisine_counts_by_boro

               COUNT
BORO
Bronx           2403
Brooklyn        6834
Manhattan      10881
Queens          6133
Staten Island   1002

In [90]:
cuisine_counts_by_boro

                                             COUNT
BORO          CUISINE DESCRIPTION
Bronx         African                           28
              American                         403
              Armenian                           1
              Asian                              6
              Bagels/Pretzels                    7
...                                            ...
Staten Island Tapas                              1
              Tex-Mex                            6
              Thai                               3
              Turkish                            2
              Vietnamese/Cambodian/Malaysia      3

[345 rows x 1 columns]

In [91]:
cuisine_counts_by_boro.to_dict(orient='columns')

ValueError: orient 'columns' not understood

In [5]:
data[['DBA', 'BORO', 'ZIPCODE', 'CUISINE DESCRIPTION', 'INSPECTION DATE', 'VIOLATION DESCRIPTION']]

,DBA,BORO,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,VIOLATION DESCRIPTION
0,EL CAFETAL BAKERY,Queens,11418.0,Bakery,04/19/2018,"Raw, cooked or prepared food is adulterated, c..."
1,STARBUCKS,Manhattan,10010.0,Café/Coffee/Tea,04/27/2018,Facility not vermin proof. Harborage or condit...
2,BKNY THAI RESTAURANT,Queens,11361.0,Thai,10/02/2017,Non-food contact surface improperly constructe...
3,THE LOCAL,Staten Island,NaN,American,06/12/2017,Pesticide use not in accordance with label or ...
4,KABAYAN FILIPINO RESTAURANT,Queens,11377.0,Filipino,07/03/2018,Cold food item held above 41º F (smoked fish a...
...,...,...,...,...,...,...
400911,CHOCK FULL O' NUTS,Brooklyn,11230.0,Café/Coffee/Tea,06/02/2017,Proper sanitization not provided for utensil w...
400912,RED LOTUS BAKERY & CAFE,Queens,11362.0,Bakery,02/06/2017,Food contact surface not properly maintained.
400913,MIKE'S UNICORN DINER,Staten Island,10314.0,American,07/17/2019,Personal cleanliness inadequate. Outer garment...
400914,HONG KONG KITCHEN,Queens,11379.0,Chinese,05/12/2018,Non-food contact surface improperly constructe...
400915,AMERICAN WING COMPANY,Manhattan,10029.0,Chicken,10/31/2018,Hot food item not held at or above 140º F.

In [59]:
data.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [62]:
resteraunts = ["AIRS CHAMPAGNE PARLOR", "VERO WINE BAR", "WILD", "MARUZZELLA", 
"LENA'S ITALIAN KITCHEN", "BOCCA DI BACCO", "UVA", "FIAT CAFE", 
"BOSIE", "PASTIS", "LA CASA DEL POLLO AND PIZZA", "CAMPAGNOLA RESTAURANT", 
"BOTTEGA RESTAURANT", "ARMANI RISTORANTE", "AMELIE WINE BAR",
 "LA GRENOUILLE", "TRATTORIA ZERO OTTO NOVE II", "KOKO SEAFOOD SALAD & GRILL", 
 "CARBONE", "FABIO RESTAURANT", "LE PRIVE", "MORSO", "LE GRAINNE CAFE", 
 "IL CORTILE RESTAURANT", "MORINI RISTORANTE", "LA BELLA VITA", 
 "VAPIANO", "NICOLA'S RESTAURANT", "CAFETAL SOCIAL CLUB/CHACHIS", 
 "CASA APICII", "FELIDIA RESTAURANT", "SERAFINA", "LE GRAINNE CAFE", 
 "CAFFE NAPOLI", "LA VRAIE RACLETTE", "PAZZA NOTTE", "ABIGAIL'S KITCHEN", 
 "DANTE", "TROPICAL SPANISH RESTAURANT", "TAVOLA", "CELLINI", 
 "CIPRIANI 42ND STREET", "Rafele", "STORICO/PARLIAMENT CAFE", "THE SIMONE", 
 "SERGIMMO SALUMERIA", "CAFE RIAZOR", "ANCHOR WINEBAR", 
 "SPAIN RESTAURANT & BAR", "SABROSAZON RESTAURANT", "DIG INN SEASONAL MARKET", 
 "PATRICK'S", "BONDURANTS", "WHITE OAK TAVERN", "JOSHUA TREE", 
 "NEIL'S COFFEE SHOP", "SHERATON NEW YORK HOTEL & TOWERS", 
 "MAD RIVER BAR & GRILLE", "KPMG CAFE", "CONRAD NEW YORK MAIN KITCHENy", 
 "WHISPERS BAR AND RESTAURANT", "MALIBU FARM", "T.G.I. FRIDAY'S",
 "THE CORE CLUB", "EFFY'S KITCHEN", "DEL FRISCO'S GRILLE", "COMPLETE BODY & SPA", 
 "DUE WEST", "CLINTON STREET BAKING COMPANY", "Flash Dancers", "CANTINA ROOFTOP", 
 "THE DISH RESTAURANT", "GRACIE-MEWS RESTAURANT", "JOSEPH LEONARD", "ROSE & JADE BARS", 
 "MAMA EATERY", "SAMUEL FRIEDMAN THEATRE", "NYU - TORCH CLUB", "DUKE'S", 
 "BARBACON", "LILY'S BAR @ ROGER SMITH HOTEL", "GANSEVOORT PARK ROOFTOP",
  "MOCA BAR & LOUNGE", "COLUMBUS GOURMET FOOD", "THE GARRETT", "GREENWICH STREET TAVERN",
   "RUBY TUESDAY", "TIME INC. CAFE AND COFFEE BAR", "WORLD YACHT PRINCESS",
    "BROADSTONE BAR & KITCHEN", "21 BAR", "GREENWICH VILLAGE COMEDY CLUB", 
    "TARA ROSE", "Banquet Kitchen", "GLASS HOUSE TAVERN", "NICE MATIN", 
    "ODESSA", "QUALITY EATS", "MALIBU DINER", "DALI MARKET", "K-BAP", 
    "XING WONG BBQ", "NEW KAM WEI", "MEE NOODLE SHOP", "SHANGHAI ASIAN CUISINE", 
    "GO BELIEVE BAKERY", "TASTY DUMPLING", "XI'AN FAMOUS FOOD", "GOLDEN BOWL RESTAURANT", 
    "NOODLE Q", "GREAT CHINA RESTAURANT", "GRAND SICHUAN", "JING FONG RESTAURANT", 
    "LA SALLE DUMPLING ROOM", "GOLDEN WOK CHINESE RESTAURANT", 
    "NEW SHUN WEI RESTAURANT", "HAN DYNASTY", "NEW KIM TONG", "LAN SHENG RESTAURANT", 
    "SILVER PALACE CHINESE RESTAURANT", "GOGO-GI", "POCHA 32", "TURNTABLE CHICKEN JAZZ", 
    "HYO DONG GAK", "MOKJA", "GOGO-GI", "MADANGSUI", "BOKA", "OSAMIL", "WOORIJIP", 
    "COTE KOREAN STEAKHOUSE", "ANYTIME SOJU", "MARU", "BARN JOO 35",
     "BCD TOFU HOUSE", "MUI KITCHEN & BAR", "HYO DONG GAK", "BOWLLIN'", 
     "THE KUNJIP", "BOKA", "TOFU TOFU", "FIVE SENSES", "DUBUMARU", "BCD TOFU HOUSE", 
     "BARO", "NEW YORK KIMCHI", "BCD TOFU HOUSE", "SPA CASTLE PREMIER", 
     "KBBQ", "GRAND SEOUL"]

In [63]:
resteraunts = data.loc[data['DBA'].isin(resteraunts)]

In [67]:
resteraunts = resteraunts[['DBA', 'BORO', 'BUILDING', 
             'STREET', 'CUISINE DESCRIPTION', 
             'Latitude', 'Longitude', 'SCORE', 'GRADE', 'RECORD DATE']]

In [68]:
resteraunts = resteraunts.loc[pd.notna(resteraunts['GRADE'])]

In [71]:
to_json = resteraunts.sort_values(by='RECORD DATE').drop_duplicates(subset='DBA')

In [73]:
to_json.to_json('resteraunts.json', orient='records')

In [74]:
to_json.to_csv('resteraunts.csv')

In [49]:
pd.notna(resteraunts['GRADE'])

Series([], Name: GRADE, dtype: bool)

In [50]:
resteraunts['GRADE']

Series([], Name: GRADE, dtype: object)

In [34]:
resteraunts[['DBA', 'BORO', 'BUILDING', 
             'STREET', 'CUISINE DESCRIPTION', 
             'Latitude', 'Longitude', 'SCORE', 'GRADE', 'VIOLATION DESCRIPTION']]

Empty DataFrame
Columns: [DBA, BORO, BUILDING, STREET, CUISINE DESCRIPTION, Latitude, Longitude, SCORE, GRADE, VIOLATION DESCRIPTION]
Index: []

In [27]:
data.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [8]:
data.loc[data['CUISINE DESCRIPTION'].isin([''=='American']

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
3,41564788,THE LOCAL,Staten Island,310316,MANOR ROAD,NaN,7188166366,American,06/12/2017,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Initial Inspection,0.000000,0.000000,NaN,NaN,NaN,NaN,5.000000e+00,NaN
5,40382057,DYKER BEACH GOLF (GRILL ROOM),Brooklyn,1020,86th Street,11228.0,7188369722,American,05/15/2018,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Initial Inspection,40.617716,-74.019995,310.0,43.0,15400.0,NaN,3.000000e+00,BK99
8,50074904,414 HOTEL,Manhattan,414,W 46TH ST,10036.0,2123990006,American,06/20/2019,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Re-inspection,40.761269,-73.991459,104.0,3.0,12100.0,1083777.0,1.010550e+09,MN15
9,50057029,Loring Place,Manhattan,21,W 8TH ST,10011.0,2123881831,American,02/11/2020,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Initial Inspection,40.732682,-73.997355,102.0,3.0,6300.0,1009439.0,1.005720e+09,MN23
10,41164678,NIOS RESTAURANT,Manhattan,130,WEST 46 STREET,10036.0,2124852400,American,02/13/2020,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Re-inspection,40.757807,-73.983280,105.0,4.0,11900.0,1022645.0,1.009980e+09,MN17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400888,50083467,AC HOTEL NEW YORK DOWNTOWN,Manhattan,151,MAIDEN LN,10038.0,2127421900,American,07/29/2019,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Initial Inspection,40.705707,-74.005399,101.0,1.0,1502.0,1082759.0,1.000720e+09,MN25
400889,50037777,MEL'S BURGER,Manhattan,1450,2ND AVE,10021.0,2124521304,American,08/24/2016,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Re-inspection,40.771156,-73.956629,108.0,5.0,13400.0,1045158.0,1.014500e+09,MN31
400893,50074000,BLVD DINER,Queens,4311,QUEENS BLVD,11104.0,7182162065,American,10/26/2018,Violations were cited in the following area(s).,...,02/16/2020,Pre-permit (Operational) / Compliance Inspection,40.743459,-73.921274,402.0,26.0,18300.0,4001941.0,4.001620e+09,QN31
400905,41144145,TROPIX BAR & LOUNGE,Queens,9532,QUEENS BOULEVARD,11374.0,7182750024,American,01/18/2019,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Initial Inspection,40.730529,-73.863494,406.0,29.0,69300.0,4072071.0,4.030800e+09,QN18
400913,41462617,MIKE'S UNICORN DINER,Staten Island,2944,VICTORY BOULEVARD,10314.0,7184942129,American,07/17/2019,Violations were cited in the following area(s).,...,02/16/2020,Cycle Inspection / Initial Inspection,40.607389,-74.160675,502.0,50.0,27301.0,5034978.0,5.020720e+09,SI05